<div class="container-bot">
    <div class="content-bot">
        <div class="bot-mensagem">
            <div class="bot-imagem">
                <img src="/img/bot.png" alt="">
            </div>
            <div class="bot-content-mensagem">
                <p>bla bla bla bla bla!</p>
                <div class="bot-hora_mensagem">
                    <h1>00:00</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content-config-bot">
        <form action="" method="POST">
            <div class="inputs-bot">
                <h3 class="titulo-input-bot">Coleta de dados:</h3>
                <input class="bot-input" type="text">
            </div>
            <div class="config-apaga_dados">
                <div class="inputs-bot">
                    <h3 class="titulo-input-bot">Dados expira a cada:</h3>
                    <input class="bot-input" type="text">
                </div>
                <div class="inputs-bot">
                    <h3 class="titulo-input-bot">Apagar dados expirado"</h3>
                    <input class="bot-input" type="text">
                </div>
            </div>
            <button type="submit">Salvar</button>
        </form>
    </div>
</div>