<div class="site-content">
    <div class="content-area">
        <div class="content-erro404">
            <img class="svg-erro404" src="/img/erro404.svg" alt="">
            <h2 class="titulo-erro">Ops! Essa página não pode ser encontrada.</h2>
        </div>
    </div>
</div>
