<footer>
    <div class="grid_contents">
        <div class="redes_sociais">
            <h3>Redes sociais</h3>
            <div class="icons_links">
                <a href="">
                    <i class='bx bxl-facebook icon_footer'></i>
                </a>
                <a href="">
                    <i class='bx bxl-instagram icon_footer' ></i>
                </a>
                <a href="">
                    <i class='bx bxl-twitter icon_footer' ></i>
                </a>
                <a href="">
                    <i class='bx bxl-telegram icon_footer'></i>
                </a>
            </div>
            <h4>Copyright</h4>
            <small>&copy; Nome | 2021</small>
        </div>
        <div class="sobre_footer">
            <h3>Sobre</h3>
            <small>
                é um site feito por jogadores e para jogadores, nosso conteúdo não é afiliado, endossado, patrocinado ou aprovado especificamente pelo Coin Master e o Coin Master não é responsável por ele
            </small>
        </div>
        <div class="notica_usuario">
            <h3>Receba novidades no Email</h3>
            <form action="/notifica" method="POST">
                <input type="email" name="notificaEmail" class="notica_usuarios" placeholder="coinmaster@exemplo.com">
                <input type="submit" class="enviar_email_notica" value="Enviar">
            </form>
        </div>
    </div>
</footer>