<header class="header-navbar">
    <div class="header__home">
        <div class="header__logo">
            <h1>Nome</h1>
        </div>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li>
                        <div class="btn__links">
                            <a href="/coin-master-giros-e-moedas-gratis">Ganhar Giros</a>
                        </div>
                    </li>
                </ul>
            </nav>
    </div>
        <div class="icon__darkmode">
            <div class="header__button_darkmode">
                <i class="bx bxs-sun"></i>
            </div>
        </div>
</header>