{{#each erros}}
    <div class="alertMsg">
        <div class="alert error_msg">{{texto}}</div>
    </div>
{{else}}
{{/each}}
<div class="container-area__inicio">
    <div class="inicio__titulo">
        <h3>Giros <span>grátis</span> em Coin Master: links atualizados para ganhar spins!</h3>
    </div>
    <div class="content__inicio">
        <div class="imagem-pig__inicio">
            <img src="/img/PigCoin.png" alt="">
        </div>
        <div class="inicio__text">
            <h2>Giros e moedas diariamente 🎁</h2>
            <p>
                Você pode ganhar vários giros grátis em Coin Master ao clicar em links especiais todos os dias. No <small>Clique<span>Coin</span></small> nós trazemos de forma atualizada todos esses links para que você possa ganhar novos giros e também moedas gratuitas sem fazer qualquer esforço! 
                Existem cerca de 3 a 4 links diários no nosso site. Em que você obtém cerca de 50 a 70 giros de 2 a 3 milhões de moedas por dia.
            </p>
            <a href="/coin-master-giros-e-moedas-gratis">
                <button class="inicio-btn__giros">Confira</button>
            </a>
        </div>
    </div>
    <div class="anuncios__block">
        <div class="anuncios__titulo">
            ANUNCIOS
        </div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2871517043341115" crossorigin="anonymous"></script>
        <!-- anuncio -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-2871517043341115"
            data-ad-slot="5041964809"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>