.pagina-giros-site, .site-content {
    word-wrap: break-word;
}

.pagina-giros-site {
    margin-bottom: 0;
}

.pagina-giros-site .titulo-giros-site {
    font-family: "Rajdhani",sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.2em;
    color: var(--pretoclaro);
    text-align: center;
}

.pagina-giros-content:not(:first-child) {
    margin-top: 2em;
}

.pagina-giros-content p {
    font-size: 1.1em;
    letter-spacing: 1px;
    color: var(--pretoclaro);
    text-align: justify;
}

.anuncios__block {
    min-height: 100px;
    margin-top: 1rem;
}

.anuncios__titulo {
    text-align: center;
    color: #999;
    font-size: 9px;
    font-weight: 400;
    text-transform: uppercase;
    overflow: hidden;
}

.card__tabela__links p {
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.tabela__giros__links {
    border: 1px solid #0000003b;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.tabela__giros__links tbody {
    display: grid;
    gap: 20px;
}

.tabela__giros__links tbody tr td {
    width: 10rem;
    display: flex;
    align-items: center;
}

.tabela__giros__links tbody tr td:nth-child(1) {
    justify-content: start;
}

.tabela__giros__links tbody tr td:nth-child(2) {
    justify-content: center;
}

.tabela__giros__links tbody tr td:nth-child(3) {
    justify-content: end;
}

.tabela__giros__links tbody tr td a {
    border: 1px solid #d8d8d8;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #eee;
    color: #000;
    transition: all .5s;
}

.tabela__giros__links tbody tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.compartilhar__container {
    width: 100%;
    height: auto;
    border-radius: .25rem;
    background: #f6f6f6;
    margin: 2rem 0;
    padding: 1rem;
}

.compartilhar__titulo {
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.compartilhar__icons {
    text-align: center;
    position: relative;
    margin-top: .5rem;
}

a.compartilhar__icon {
    padding: 0 .3rem;
}

.compartilhar__icon svg {
    max-width: 45px;
}

.grupo-telegram {
    width: 100%;
    height: auto;
    border-radius: .25rem;
    background: #1e96c8;
    margin: 2rem 0;
    padding: 1rem;
    cursor: pointer;
}

.grupo-telegram-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    left: 50%;
    transform: translate(-50%, -75%);
}

.telegram-grupo-text h3 {
    font-family: "Rajdhani",sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
    line-height: 1.2em;
    color: var(--branco);
    text-align: center;
}

.telegram-grupo-text {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 1.5rem 0;
}

.infocoin__container {
    display: grid;
    align-items: center;
    height: 100%;
    row-gap: .75rem;
    margin: 1.5rem 0;
}

.infocoin__titulo {
    font-size: 1rem;
    color: var(--pretopadrao);
    font-weight: 500;
    margin-top: .15rem;
    transition: .2s;
}

.infocoin__header {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: 1.25rem 1.25rem 1.25rem 1rem;
    cursor: pointer;
}

p.infocoin__descricao {
    padding: 0 1.25rem 1.25rem 3rem;
    font-size: .9rem;
    color: var(--pretoclaro);
    letter-spacing: 0;
}

.infocoin__icon {
    font-size: 1.5rem;
    height: max-content;
    color: var(--pretoescuro);
    transition: .3s;
}

.infocoin__item {
    box-shadow: 0 2px 6px hsla(0, 0%, 15%, 0.1);
    border-radius: .25rem;
    position: relative;
    transition: all .25s ease;
    background: #fdfcfc;
} 

.infocoin__item::after {
    content: '';
    background: var(--vermelho);
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: .25rem 0 0 .25rem;
}

.infocoin__item:nth-child(1) {
    background: rgba(255, 86, 86, 0.200);
}

.infocoin__item:nth-child(2) {
    background: rgba(255, 190, 69, 0.300);
}

.infocoin__item:nth-child(2)::after {
    background: rgb(255, 166, 0, 0.400);
}

.infocoin__item:nth-child(3) {
    background: rgb(197, 255, 205, 0.400)
}

.infocoin__item:nth-child(3)::after {
    background: rgba(42, 194, 62, 0.400)
}

.infocoin__content {
    overflow: hidden;
    height: 0;
    transition: all .25s ease;
}

.infocoin-open .infocoin__icon {
    transform: rotate(45deg);
}