.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 66px;
    height: 3rem;
    padding: 1rem;
    border-radius: 3px;
    z-index: 99;
    color: white;
}

.error_msg {
    background: var(--erromsg);
}

.success_msg {
    background: var(--verde);
}