<div class="site-content">
    <div class="content-area">
        <div class="site-main">
            <header class="pagina-giros-site">
                <h1 class="titulo-giros-site">Coin Master: Giros e moedas gr치tis atualizados diariamente</h1>
            </header>
            <div class="pagina-giros-content">
                <p>Todos os links s칚o disponibilizados pelo pr칩prio Coin Master em suas redes sociais. Nossa equipe junta esses links nessa p치gina para economizar seu tempo e tornar sua vida mais f치cil.</p>
                <div class="anuncios__block">
                    <div class="anuncios__titulo">
                        ANUNCIOS
                    </div>
                </div>
                <div class="card__tabela__links">
                    {{#each dados}}
                        <p><strong>{{data}}</strong></p>
                        <table class="tabela__giros__links">
                            <tbody>
                                {{#lista}}
                                    <tr>
                                        <td>{{titulo}}</td>
                                        <td><a class="btn_coletar" href="{{link}}" target="_blank">COLETAR 游냥</a></td>
                                    </tr>
                                {{/lista}}
                            </tbody>
                        </table>
                    {{else}}
                        <p><strong>Nenhuma coleta disponivel</strong></p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>